* {
  margin: 0;
  padding: 0;
}

.oscurecer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 20;
  transition: opacity 0.5s;
}

.popup {
  position: absolute;
  z-index: 21;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  color: black;
  font-weight: 600;
  font-size: 0.6em;
  transition: all 0.5s;
}

html {
  font-family: "Exo", sans-serif;
  font-size: calc(13px + 1vw);
}

html body {
  color: white;
}

html body header {
  position: absolute;
  background: #B69AFF;
  width: 100vw;
  height: 2rem;
  z-index: 100;
}

html body header nav {
  position: relative;
}

html body header nav ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

html body header nav ul li {
  flex: 0 1 6em;
  padding: 0.4em;
  border-left: 1px solid #8965FF;
  border-right: 1px solid #8965FF;
  border-top: none;
  border-bottom: none;
  background-color: #D6C5FF;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

html body header nav ul li a {
  text-decoration: none;
  transition: all 0.3s;
}

html body header nav ul li a:link, html body header nav ul li a:visited {
  color: #432d3b;
}

html body header nav ul li a.hover {
  color: #A5FFBC;
  text-shadow: 0 0 0.2em black;
  transition: all 0.3s;
}

html body header nav ul li:hover {
  background-color: #E1E0FF;
  transition: background-color 0.3s;
}

html body header nav ul li:first-child {
  border-left: 1px solid #8965FF;
  border-right: none;
}

html body header nav ul li:last-child {
  border-right: 1px solid #8965FF;
  border-left: none;
}

html body .main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

html body .main-wrapper main section {
  overflow: hidden;
  flex: 1;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #af9ac1, #432d3b);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #af9ac1, #432d3b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html body .main-wrapper main section a {
  font-weight: 700;
  color: white;
  transition: all 0.3s;
}

html body .main-wrapper main section a:hover {
  text-shadow: -0.1em -0.1em 0.1em #432D3B;
}

html body .main-wrapper main section #imgPag1, html body .main-wrapper main section #imgPag2, html body .main-wrapper main section #imgPag3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}

html body .main-wrapper main section #imgPag1 {
  background-image: url("../img/blank-brown-cafe-459562.jpg");
}

html body .main-wrapper main section #imgPag2 {
  background-image: url("../img/ai-codes-coding-247791.jpg");
}

html body .main-wrapper main section #imgPag3 {
  background-image: url("../img/pexels-photo-97076.jpeg");
}

html body .main-wrapper main section .container {
  padding: 2rem;
}

html body .main-wrapper main section .container h1 {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
}

html body .main-wrapper footer {
  text-align: center;
  overflow: hidden;
  flex: initial;
  background: #b4d0c2;
  color: #432d3b;
  box-shadow: 0 -8px 16px #432d3b;
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

html body .main-wrapper footer .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

html body .main-wrapper footer a {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  font-weight: 700;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: white;
}

html body .main-wrapper footer a span {
  display: none;
}

html body .main-wrapper footer #iconLinkedin, html body .main-wrapper footer #iconGithub, html body .main-wrapper footer #iconMail, html body .main-wrapper footer #iconSkype, html body .main-wrapper footer #iconTwitter {
  background-image: url("../img/sprites/social.png");
  background-size: 320px;
  transition: background-position 0.3s, background-color 0.6s;
}

html body .main-wrapper footer #iconLinkedin:link, html body .main-wrapper footer #iconLinkedin:visited {
  background-position: -128px -64px;
}

html body .main-wrapper footer #iconLinkedin:hover, html body .main-wrapper footer #iconLinkedin:active {
  background-position: -128px 0;
}

html body .main-wrapper footer #iconSkype:link, html body .main-wrapper footer #iconSkype:visited {
  background-position: -64px -64px;
}

html body .main-wrapper footer #iconSkype:hover, html body .main-wrapper footer #iconSkype:active {
  background-position: -64px 0;
}

html body .main-wrapper footer #iconGithub:link, html body .main-wrapper footer #iconGithub:visited {
  background-position: 0 -64px;
}

html body .main-wrapper footer #iconGithub:hover, html body .main-wrapper footer #iconGithub:active {
  background-position: 0 0;
}

html body .main-wrapper footer #iconTwitter:link, html body .main-wrapper footer #iconTwitter:visited {
  background-position: -256px -64px;
}

html body .main-wrapper footer #iconTwitter:hover, html body .main-wrapper footer #iconTwitter:active {
  background-position: -256px 0;
}

html body .main-wrapper footer #iconMail:link, html body .main-wrapper footer #iconMail:visited {
  background-position: -192px -64px;
}

html body .main-wrapper footer #iconMail:hover, html body .main-wrapper footer #iconMail:active {
  background-position: -192px 0;
}

.containerComp {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.conocIcons {
  flex: 0 1 auto;
  padding: 0.8rem;
  width: calc(39px + 3vw);
  height: calc(39px + 3vw);
  text-align: center;
  line-height: 2.9rem;
  border-radius: 50%;
  text-shadow: 0 0 0.2em black, 0.2em 0.2em 0.3em black;
  overflow: hidden;
  margin-left: 0.6rem;
  cursor: pointer;
}

#html5 {
  background-color: dodgerblue;
}

#css {
  background-color: greenyellow;
}

#js {
  background-color: yellow;
}

#php {
  background-color: mediumpurple;
}

#mysql {
  background-color: orange;
}

#java {
  background-color: #7287A8;
}

#nodejs {
  background-color: #75BF54;
}

input[type=text], textarea {
  display: block;
  width: 20rem;
  margin: 0 auto;
  padding: 0.2rem;
  font-size: 0.6em;
}

input[type=text] {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

textarea {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  resize: none;
}

button#mailEnviar {
  display: block;
  margin: 0 auto;
  padding: 0.2rem;
  font-size: 0.8em;
}

@media all and (max-height: 650px) {
  #pag3 .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  article, #formulario {
    flex: 0 1 45vw;
  }
  #formulario input, #formulario textarea {
    width: 40vw;
  }
}

@media all and (max-width: 264px) {
  #pag3 .container {
    padding: 0;
  }
  #pag3 .container #formulario input, #pag3 .container #formulario textarea {
    width: 100vw;
  }
  html body {
    font-size: calc(10px + 1vw);
  }
  html body .main-wrapper footer {
    text-align: center;
    background: #b4d0c2;
    box-shadow: 0 -8px 16px #432d3b;
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  html body .main-wrapper footer .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  html body .main-wrapper footer a {
    flex: 0 0 auto;
    width: 100vw;
    height: 1.4em;
    font-weight: 800;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: #432d3b;
    padding: 0.2rem;
    border-bottom: 1px solid #432D3B;
  }
  html body .main-wrapper footer a span {
    display: inline;
  }
  html body .main-wrapper footer a:last-child {
    border: none;
  }
  html body .main-wrapper footer a:hover {
    background-color: #86D09D;
    transition: background-color 0.3s;
  }
  html body .main-wrapper footer #iconLinkedin, html body .main-wrapper footer #iconGithub, html body .main-wrapper footer #iconMail, html body .main-wrapper footer #iconSkype {
    background-image: none;
    background-size: 256px;
  }
  html body .main-wrapper footer #iconLinkedin:link, html body .main-wrapper footer #iconLinkedin:visited {
    background-position: -128px -64px;
  }
  html body .main-wrapper footer #iconLinkedin:hover, html body .main-wrapper footer #iconLinkedin:active {
    background-position: -128px 0;
  }
  html body .main-wrapper footer #iconSkype:link, html body .main-wrapper footer #iconSkype:visited {
    background-position: -64px -64px;
  }
  html body .main-wrapper footer #iconSkype:hover, html body .main-wrapper footer #iconSkype:active {
    background-position: -64px 0;
  }
  html body .main-wrapper footer #iconGithub:link, html body .main-wrapper footer #iconGithub:visited {
    background-position: 0 -64px;
  }
  html body .main-wrapper footer #iconGithub:hover, html body .main-wrapper footer #iconGithub:active {
    background-position: 0 0;
  }
  html body .main-wrapper footer #iconMail:link, html body .main-wrapper footer #iconMail:visited {
    background-position: -192px -64px;
  }
  html body .main-wrapper footer #iconMail:hover, html body .main-wrapper footer #iconMail:active {
    background-position: -192px 0;
  }
  html body header nav ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  html body header nav ul li {
    flex: 0 1 auto;
    border-bottom: 1px solid #432D3B;
  }
  html body header nav ul li:last-child {
    border: none;
  }
}

@media all and (max-width: 264px) and (max-height: 650px) {
  h1 {
    font-size: calc(13px + 1vw) !important;
  }
  #pag3 .container {
    display: block;
  }
  article, #formulario {
    display: block;
  }
  #formulario input, #formulario textarea {
    width: 100vw;
  }
}
